*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg_nav: #0084FD;
    --bg_footer: #333333;
    --bg_sec_violet: #9792E4;
    --bg_card: #B5DDFF;
    --clolor_orange: #FDC15F;
    --bg_withe: #FFFFFF;
}

.flex{
    display: flex;
}

.gap{
    gap: 1rem;
}

.width_60{
    width: 60%;
    margin: auto;
}

.padding_2{
    padding: 2rem 0;
}

.margin_2{
    margin: 2rem 0;
}

.text_center{
    text-align: center;
}

.col_1{width: calc(100% / 12 * 1);}

.col_2{width: calc(100% / 12 * 2);}

.col_3{width: calc(100% / 12 * 3 - 1rem);}

.col_4{width: calc(100% / 12 * 4 - 1rem);}

.col_5{width: calc(100% / 12 * 5);}

.col_6{width: calc(100% / 12 * 6 - 1rem);}

.col_7{width: calc(100% / 12 * 7);}

.col_8{width: calc(100% / 12 * 8 - 1rem);}

.col_9{width: calc(100% / 12 * 9 - 1rem);}

.col_10{width: calc(100% / 12 * 10);}

.col_11{width: calc(100% / 12 * 11);}

.col_12{width: calc(100% / 12);}

/*utility*/



/*#region debug*/


.debug .col_8{
border: 1px solid black;
height: 300px;
background-color: var(--bg_card);
}

.debug .col_4{
    border: 1px solid black;
    height: 300px;
    background-color: var(--bg_nav);
    }

.debug .bg_violet{
    background-color: var(--bg_sec_violet);
}

.debug .col_6{
    border: 1px solid black;
    height: 500px;
    background-color: var(--bg_footer);
}

.debug .col_3{
    height: 100px;
    background-color:var(--bg_sec_violet);
    border: 1px solid black;
}

.debug .col_9{
    height: 100px;
    background-color:var(--bg_sec_violet);
    border: 1px solid black;
}

.debug footer{
    background-color: var(--bg_footer);
    height: 300px;
    margin-top: -2rem;
}

.height_300{
    height: 300px;
    background-color: var(--bg_sec_violet);
}
/*#endregion debug*/


/*#region nav*/

.nav_container{
    background-color: var(--bg_nav);
}

.nav_items{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav_right ul{
    align-items: center;
}

.nav_right li{
    list-style: none;
}

.nav_right a{
    text-decoration: none;
    color: var(--bg_withe);
}

.button_nav{
    margin-right: 1rem;
    background-color: var(--bg_withe);
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.button_nav a{
    color: black;
}
/*#endregion nav*/


/*#region app*/
.container{
    margin: 2rem 0;
}

.row{
    flex-wrap: wrap;
}
/*#endregion app*/


/*#region plain*/

/*#endregion plain*/


/*#region partners*/

/*#endregion partners*/


/*#region benefits*/

/*#endregion benefits*/


/*#region about*/

/*#endregion about*/


/*#region pricing*/

/*#endregion pricing*/

@media screen and (min-width:768px) and (max-width:1280px) {
    .container{
        width: 100%;
    }

    .col_lg_6{
        width: calc(100% / 12 * 6);
    }
}

@media screen and (max-width:480px) {
    .container{
        width: 100%;
    }
    .col_sm_12{
        width: calc(100%);
    }
}
